{% extends "index.html" %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fake News</title>
</head>
<body>
    {% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <form method="POST" action = "{% url 'fake_news' %}" class="box">
                    {% csrf_token %}
                        <h1>Sentiment Analysis</h1>
                        <input type="text" name="fake_news" id="fake_news" placeholder="Query" required> 
                        <button type="submit" value="Start Process" class="btn-close-white"> Start Process</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endblock body %}
</body>
</html>